<app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

<div class="book-container">
    <div class="book-grid">
        <div class="book-card" *ngFor="let book of filteredBooks" (click)="viewDetails(book.key)">
            <div class="card-image-wrapper">
                <img *ngIf="book.cover_id" [src]="'https://covers.openlibrary.org/b/id/' + book.cover_id + '-M.jpg'"
                    alt="{{book.title}}" class="book-cover">
                <div *ngIf="!book.cover_id" class="no-cover">
                    <span>📚</span>
                </div>
            </div>
            <div class="card-content">
                <h3 class="book-title">{{book.title}}</h3>
                <p class="book-year">{{book.first_publish_year}}</p>
                <span class="edition-count">{{book.edition_count}} Editions</span>
            </div>
        </div>
    </div>
</div>